.room-title {
  font-weight: 600;
  color: #17a2b8 !important;
}

.booking-detail {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  margin-left: 18px;

  .book-title {
    margin-top: 5px;
    color: #17a2b8 !important;
  }
  .booking-image {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }
}

.booking-button {
  margin-top: 15px;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
