#home-container {
  min-height: 100vh;
  .home-row {
    padding-top: 15px;
    .cards-row {
      .image {
        max-height: 200px;
        object-fit: cover;
      }
      .cards-title {
        font-weight: 700;
      }
      .cards-text {
        color: green;
        border: 1rem;
        border-radius: 5px;
        font-weight: 600px;
      }
      .home-button {
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
      }

      .card-text2 {
        color: red;
      }
    }
  }
}
